@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Myriad Pro'), 
       url('../fonts/Circe-Regular.woff') format('woff'),
       url('../fonts/Circe-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Regular';
  src: url('../fonts/MyriadProRegular.eot');
  src: local('Circe Regular'), 
       url('../fonts/MyriadProRegular.woff') format('woff'),
       url('../fonts/MyriadProRegular.ttf') format('truetype'),
       url('../fonts/MyriadProRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../fonts/Circe-ExtraBold.eot');
  src: local('Circe ExtraBold'), 
       url('../fonts/Circe-ExtraBold.woff') format('woff'),
       url('../fonts/Circe-ExtraBold.ttf') format('truetype'),
       url('../fonts/Circe-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}