@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "header";

.hero {
    background: #546f4e url("../images/hero-bg.jpg") center center;
    background-size: cover;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__heading {
        padding: 320px 0 120px;
        text-align: center;
        @media (max-width: 1000px) {
            padding: 240px 0 80px;
        }
        @media (max-width: 767px) {
            padding: 160px 0 60px;
        }
    }
    &__title {
        @extend %ﾑ（rce-extrabold;
        font-size: 61px;
        line-height: 58 / 61 * 100%;
        text-align: center;
        color: #fff;
        filter: drop-shadow(0px 8px 16px #152726);
        margin-bottom: 50px;
        padding: 0 20px;
        @media (max-width: 1200px) {
            font-size: 50px;
        }
        @media (max-width: 1000px) {
            font-size: 35px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
            padding: 0 15px;
        }
    }
    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        background-color: transparent;
        border: 6px solid #fff;
        height: 61px;
        font-size: 26px;
        line-height: 30 / 26 * 100%;
        padding: 0 40px;
        @media (max-width: 1200px) {
            font-size: 20px;
            padding: 0 35px;
        }
        @media (max-width: 1000px) {
            font-size: 15px;
            border: 4px solid #fff;
            height: 50px;
        }
        @media (max-width: 767px) {
            height: 45px;
        }
    }
}

.description {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
    &__title {
        text-align: center;
        margin-bottom: 42px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 25px;
        @extend %myriadpro-regular;
        span {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
        }
    }
}

.link {
    color: #61cb81;
    border-bottom: 1px solid #61cb81;
}

.about {
    padding: 95px 0 105px;
    @media (max-width: 1122px) {
        padding: 80px 0;
    }
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    @media (max-width: 767px) {
        padding: 40px 0;
    }
    &__description {
        margin-bottom: 80px;
        @media (max-width: 1122px) {
            margin-bottom: 60px;
        }
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        @media (max-width: 320px) {
            margin-bottom: 40px;
        }
    }
    &__stats {
        background-color: #dde7e1;
        @media (max-width: 1122px) {
            background-color: transparent;
        }
        &-inner {
            display: flex;
            justify-content: center;
            @media (max-width: 1122px) {
                flex-wrap: wrap;
            }
        }
    }
    &__item {
        color: #5b675e;
        background-color: #dde7e1;
        text-align: center;
        padding: 50px 37px;
        min-width: 241px;
        border-right: 1px solid #fff;
        @media (max-width: 1450px) {
            padding: 45px 30px;
            min-width: 200px;
        }
        @media (max-width: 1350px) {
            padding: 30px 25px;
        }
        @media (max-width: 1250px) {
            min-width: 180px;
        }
        @media (max-width: 1122px) {
            border: none;
            margin-bottom: 10px;
            margin-right: 10px;
            width: 180px;
        }
        @media (max-width: 767px) {
            margin: 8px;
        }
        @media (max-width: 400px) {
            margin: 0 0 8px 0;
            width: 100%;
            padding: 25px 20px;
        }
        &:last-child {
            border-right: none;
        }
        &-num {
            @extend %ﾑ（rce-extrabold;
            font-size: 114px;
            line-height: 100px;
            margin: 0;
            @media (max-width: 1450px) {
                font-size: 100px;
            }
            @media (max-width: 1350px) {
                font-size: 80px;
                line-height: 86px;
            }
            @media (max-width: 767px) {
                font-size: 60px;
                line-height: 70px;
            }
            @media (max-width: 320px) {
                font-size: 40px;
                line-height: 60px;
            }
        }
        &-text {
            margin: 0;
        }
    }
}

.swiper-container {
    width: 600px;
    height: 300px;
}

.services {
    padding-bottom: 54px;
    text-align: center;
    &__description {
        margin-bottom: 52px;
    }
    &__cards {
        margin-bottom: 75px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    &__card {
        flex-grow: 1;
    }
    &__img {
        position: relative;
        img {
            display: block;
            width: 100%;
            height: 600px;
        }
        &:hover .cards__hover {
            bottom: 0;
            height: 100%;
        }
    }
    &__title {
        color: #fff;
        font-size: 51px;
        line-height: 38 / 51 * 100%;
        @extend %ﾑ（rce-extrabold;
        text-align: left;
        position: absolute;
        top: 91px;
        left: 81px;
        max-width: 300px;
        z-index: 6;
    }
    &__hover {
        width: 100%;
        height: 0;
        background-color: rgba(#87e7a5, 0.7);
        overflow: hidden;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        z-index: 4;
        transition: 0.4s ease;
        &-text {
            color: #fff;
            font-size: 14px;
            line-height: 25px;
            @extend %myriadpro-regular;
            text-align: left;
            position: absolute;
            top: 225px;
            left: 79px;
            max-width: 270px;
        }
    }
}

.our-elephants {
    padding: 54px 0 74px;
    text-align: center;
    @media (max-width: 767px) {
        padding: 34px 0 44px;
    }
    &__title {
        text-align: center;
        margin-bottom: 76px;
        @media (max-width: 1200px) {
            margin-bottom: 66px;
        }
        @media (max-width: 1122px) {
            margin-bottom: 56px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
        @media (max-width: 320px) {
            margin-bottom: 25px;
        }
    }
    &__item {
        position: relative;
        margin-bottom: 200px;
        @media (max-width: 940px) {
            margin-bottom: 150px;
        }
        @media (max-width: 767px) {
            margin-bottom: 45px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        img {
            max-height: 800px;
            width: 100%;
            @media (max-width: 767px) {
                width: 50%;
                object-fit: cover;
            }
            @media (max-width: 576px) {
                width: 100%;
                object-fit: cover;
                margin-bottom: 15px;
            }
        }
    }
    &__info {
        position: absolute;
        max-width: 588px;
        background-color: #fff;
        color: #000;
        text-align: left;
        padding: 67px 62px;
        bottom: -118px;
        left: 50%;
        box-shadow: (0px 37px 25.5px rgba(119, 119, 99, 0.21));
        @media (max-width: 1250px) {
            padding: 47px 42px;
            max-width: 488px;
        }
        @media (max-width: 1122px) {
            max-width: 388px;
        }
        @media (max-width: 940px) {
            max-width: 288px;
            padding: 37px 32px;
            left: 60%;
            bottom: -80px;
        }
        @media (max-width: 767px) {
            position: static;
            left: 0;
            bottom: 0;
            right: 0;
            min-width: 288px;
            box-shadow: (8px 9px 8px rgba(119, 119, 99, 0.21));
            padding: 27px 22px;
        }
        @media (max-width: 576px) {
            min-width: fit-content;
        }
        @media (max-width: 320px) {
            padding: 18px;
        }
    }
    &__text {
        margin-bottom: 43px;
        @media (max-width: 940px) {
            margin-bottom: 20px;
        }
    }
}

.reviews {
    padding: 85px 0 96px;
    background-color: #dde7e1;
    @media (max-width: 940px) {
        padding: 55px 0 66px;
    }
    @media (max-width: 320px) {
        padding: 44px 0 46px;
    }
    &__title {
        margin-bottom: 80px;
        text-align: center;
        @media (max-width: 940px) {
            margin-bottom: 65px;
        }
        @media (max-width: 320px) {
            margin-bottom: 45px;
        }
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 140px;
        @media (max-width: 940px) {
            flex-wrap: wrap;
            margin-bottom: 60px;
        }
        @media (max-width: 320px) {
            margin-bottom: 45px;
        }
    }
    &__box {
        display: flex;
        width: 100%;
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
            @media (max-width: 426px) {
                margin-bottom: 0;
            }
        }
        @media (max-width: 1250px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 940px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
        &-img {
            height: 100px;
            flex: 0 0 100px;
            border-radius: 50%;
            margin-right: 20px;
            overflow: hidden;
            @media (max-width: 1250px) {
                align-self: center;
            }
        }
        &-text {
            padding-top: 10px;
            flex: 0 0 235px;
            @extend %myriadpro-regular;
            font-size: 14px;
            @media (max-width: 1250px) {
                flex: 0 0 100px;
            }
            @media (max-width: 940px) {
                text-align: center;
                max-width: 350px;
            }
        }
        &-author {
            display: block;
            font-size: 19px;
            line-height: 23 / 19 * 100%;
            margin-bottom: 19px;
            @media (max-width: 1250px) {
                text-align: center;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: center;
        @media (max-width: 940px) {
            flex-wrap: wrap;
        }
    }
    &__quote {
        margin: 0 40px;
        max-width: 500px;
        font-size: 20px;
        line-height: 27 / 20 * 100%;
        @extend %myriadpro-regular;
        padding: 0 60px 38px 71px;
        position: relative;
        &:last-child {
            @media (max-width: 940px) {
                margin-bottom: 0;
            }
        }
        @media (max-width: 1000px) {
            margin: 0 25px;
        }
        @media (max-width: 940px) {
            margin: 0 0 50px;
            max-width: 512px;
        }
        @media (max-width: 426px) {
            padding: 0 30px 38px 30px;
            margin: 0 0 35px;
        }
        &-author {
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-size: 16px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/arrow-left.png");
            width: 48px;
            height: 50px;
            left: 0;
            bottom: 18px;
            @media (max-width: 576px) {
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url("../images/icons/arrow-right.png");
            width: 48px;
            height: 50px;
            right: 0;
            top: -2px;
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}

.team {
    padding: 100px 0 50px;
    @media (max-width: 767px) {
        padding: 80px 0 35px;
    }
    @media (max-width: 320px) {
        padding: 60px 0 35px;
    }
    &__description {
        margin-bottom: 60px;
        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
        @media (max-width: 320px) {
            margin-bottom: 30px;
        }
    }
    &__members {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1000px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.member {
    @media (max-width: 1200px) {
        max-width: 300px;
        padding: 10px;
        margin-bottom: 10px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__img {
        position: relative;
        margin-bottom: 45px;
        @media (max-width: 1200px) {
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        &:hover .member__hover {
            opacity: 1;
        }
    }
    &__hover {
        width: 100%;
        height: 100%;
        background-color: rgba(#87e7a5, 0.7);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        transform: translate(-15px, -15px);
        transition: 0.4s ease;
        opacity: 0;
        &-social {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__info {
        text-align: center;
    }
    &__name {
        font-size: 26px;
        line-height: 38 / 26 * 100%;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    &__descr {
        @extend %myriadpro-regular;
        font-size: 16px;
        line-height: 23 / 16 * 100%;
        color: #000;
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}

.social-list {
    display: flex;
    &__item {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        img {
            width: 46px;
            height: 46px;
        }
    }
}

.achievements {
    padding: 50px 0 58px;
    & .container-larger{
        @media (max-width: 767px) {
            padding: 0 0 0 20px;
        }
    }
    @media (max-width: 426px) {
        padding: 30px 0 38px;
    }
    @media (max-width: 320px) {
        padding: 15px 0 18px;
    }
    &__description {
        margin-bottom: 65px;
        @media (max-width: 426px) {
            margin-bottom: 35px;
        }
    }
    &__cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @media (max-width: 767px) {
            flex-wrap: nowrap;
            justify-content: start;
            flex-direction: row;
            overflow: auto;
        }
    }
    &__card {
        margin-bottom: 20px;
        &:last-child{
            @media (max-width: 767px) {
                margin-right: 0;
            }
        }
        @media (max-width: 767px) {
            flex: 0 0 90%;
            margin-right: 15px;
            margin-bottom: 0;
        }
    }
    &__img {
        position: relative;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        &:hover .achievements__hover {
            bottom: 0;
            height: 100%;
        }
    }
    &__hover {
        width: 100%;
        height: 0;
        background-color: rgba(#87e7a5, 0.7);
        overflow: hidden;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        z-index: 4;
        transition: 0.4s ease;
    }
    &__text {
        position: absolute;
        left: 90px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 51px;
        line-height: 38 / 51 * 100%;
        @extend %ﾑ（rce-extrabold;
        @media (max-width:426px){
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
        }
    }
}
