body {
  font-family: Circe,sans-serif;
  font-weight: 400
}
.about__item-num,
.hero__title {
  font-family: Circe,sans-serif;
  font-weight: 800
}
.about__text {
  font-family: 'Myriad Pro',sans-serif;
  font-weight: 400
}
@font-face {
  font-family: Circe;
  src: url(../fonts/Circe-Regular.woff2) format("woff2"),url(../fonts/Circe-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: Circe;
  src: url(../fonts/Circe-ExtraBold.woff2) format("woff2"),url(../fonts/Circe-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: 'Myriad Pro';
  src: url(../fonts/MyriadPro-Regular.woff2) format("woff2"),url(../fonts/MyriadPro-Regular.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
a {
  text-decoration: none;
  color: inherit
}
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit
}
body {
  color: #362c2d;
  background-color: #fff;
  font-size: 12px;
  line-height: 18px
}
body.lock {
  overflow: hidden
}
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto
}
.container-larger {
  max-width: 1520px;
  padding: 0 20px;
  margin: 0 auto
}
.title {
  font-size: 36px;
  line-height: 105.55556%;
  padding-bottom: 40px;
  position: relative
}
.title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 143px;
  background-color: #61cb81;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #61cb81;
  font-size: 26px;
  line-height: 30px;
  padding: 20px 40px
}
.btn-outline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #61cb81;
  background-color: transparent;
  border: 6px solid #61cb81;
  font-size: 26px;
  line-height: 30px;
  padding: 20px 40px
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(25,29,33,.8)
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 63px;
  padding-top: 13px
}
.header__logo {
  z-index: 5
}
.menu__icon {
  display: none
}
.menu__body.active {
  top: 0
}
.menu__list-link {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.menu__list-link:hover {
  border-bottom: 1px solid #61cb81
}
.hero {
  background: #546f4e url(../images/hero-bg.jpg) center center;
  background-size: cover
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.hero__heading {
  padding: 320px 0 120px;
  text-align: center
}
.hero__title {
  font-size: 61px;
  line-height: 95.08197%;
  text-align: center;
  color: #fff;
  -webkit-filter: drop-shadow(0 8px 16px #152726);
  filter: drop-shadow(0 8px 16px #152726);
  margin-bottom: 50px;
  padding: 0 20px
}
.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 6px solid #fff;
  height: 61px;
  font-size: 26px;
  line-height: 115.38462%;
  padding: 0 40px
}
.about {
  padding: 95px 0 105px
}
.about__description {
  max-width: 960px;
  text-align: center;
  margin: 0 auto 80px;
  padding: 0 15px
}
.about__title {
  text-align: center;
  margin-bottom: 42px
}
.about__text span {
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic
}
.about__link {
  color: #61cb81;
  border-bottom: 1px solid #61cb81
}
.about__stats {
  background-color: #dde7e1
}
.about__stats-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.about__item {
  color: #5b675e;
  background-color: #dde7e1;
  text-align: center;
  padding: 50px 37px;
  min-width: 241px;
  border-right: 1px solid #fff
}
.about__item:last-child {
  border-right: none
}
.about__item-num {
  font-size: 114px;
  line-height: 100px;
  margin: 0
}
.about__item-text {
  margin: 0
}
@media (min-width:767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .menu__list-item:last-child {
    margin-right: 0
  }
  .menu__list-item {
    margin-right: 40px;
    padding: 10px 0
  }
}
@media (min-width:1000px) {
  .menu__list-item {
    margin-right: 65px
  }
}
@media (min-width:1200px) {
  .menu__list {
    padding-right: 20px
  }
  .menu__list-item:last-child {
    margin-right: 85px
  }
  .menu__list-item {
    margin-right: 85px
  }
}
@media (max-width:1450px) {
  .about__item {
    padding: 45px 30px;
    min-width: 200px
  }
  .about__item-num {
    font-size: 100px
  }
}
@media (max-width:1350px) {
  .about__item {
    padding: 30px 25px
  }
  .about__item-num {
    font-size: 80px;
    line-height: 86px
  }
}
@media (max-width:1250px) {
  .about__item {
    min-width: 180px
  }
}
@media (max-width:1200px) {
  .hero__title {
    font-size: 50px
  }
  .hero__btn {
    font-size: 20px;
    padding: 0 35px
  }
}
@media (max-width:1122px) {
  .about {
    padding: 80px 0
  }
  .about__description {
    margin: 0 auto 60px
  }
  .about__stats {
    background-color: transparent
  }
  .about__stats-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .about__item {
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 180px
  }
}
@media (max-width:1000px) {
  .hero__heading {
    padding: 240px 0 80px
  }
  .hero__title {
    font-size: 35px
  }
  .hero__btn {
    font-size: 15px;
    border: 4px solid #fff;
    height: 50px
  }
}
@media (max-width:767px) {
  .title {
    font-size: 25px;
    padding-bottom: 25px
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer
  }
  .menu__icon span {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: 50%;
    background-color: #fff;
    -webkit-transform: scale(1) translate(0,-50%);
    -ms-transform: scale(1) translate(0,-50%);
    transform: scale(1) translate(0,-50%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
  }
  .menu__icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
  }
  .menu__icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
  }
  .menu__icon.active span {
    -webkit-transform: scale(0) translate(0,-50%);
    -ms-transform: scale(0) translate(0,-50%);
    transform: scale(0) translate(0,-50%)
  }
  .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0,-50%);
    -ms-transform: rotate(-45deg) translate(0,-50%);
    transform: rotate(-45deg) translate(0,-50%)
  }
  .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0,50%);
    -ms-transform: rotate(45deg) translate(0,50%);
    transform: rotate(45deg) translate(0,50%)
  }
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25,29,33,.8);
    padding: 75px 30px 30px 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: auto
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 63px;
    left: 0;
    top: 0;
    background: #191d21;
    opacity: 0;
    z-index: 2
  }
  .menu__body.active::before {
    opacity: 1
  }
  .menu__list-item:last-child {
    margin-bottom: 0
  }
  .menu__list-item {
    margin-bottom: 30px
  }
  .menu__list-link {
    font-size: 24px
  }
  .hero__heading {
    padding: 160px 0 60px
  }
  .hero__title {
    font-size: 30px;
    padding: 0 15px
  }
  .hero__btn {
    height: 45px
  }
  .about {
    padding: 60px 0
  }
  .about {
    padding: 40px 0
  }
  .about__description {
    margin: 0 auto 50px
  }
  .about__title {
    margin-bottom: 30px
  }
  .about__item {
    margin: 8px
  }
  .about__item-num {
    font-size: 60px;
    line-height: 70px
  }
}
@media (max-width:400px) {
  .about__item {
    margin: 0 0 8px 0;
    width: 100%;
    padding: 25px 20px
  }
}
@media (max-width:320px) {
  .about__description {
    margin: 0 auto 40px
  }
}